* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#header {
	width: 100%;
	background-color: red;
	color: white;
	padding-left: 5%;
	font-size: 2em;
}

#about {
	cursor: pointer;
	float: right;
	padding: .5% 10% 0 0;
	font-size: .66em;
}

a {
	color: inherit;
	text-decoration: inherit;
}

#iaText {
	background-color: rgb(50,50,50);
	padding: 3% 0 5% 20%;
}

textarea {
	height: 200px;
	width: 80%;
	font-size: 1.5em;
}

#generate {
	display: inline;
	padding: .2%;
	margin-left: 50%;
}

#subjects {
	position: relative;
	bottom: 25px;
}

#inject {
	width: 65%;
	margin: 0 15% 0 20%;
	padding: 5% 0 0 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 140%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity .85s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}