* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#header {
	width: 100%;
	background-color: red;
	color: white;
	padding-left: 5%;
	font-size: 2em;
}

#about {
	display: none;
	float: right;
	padding: .5% 10% 0 0;
	font-size: .66em;
}

#iaText {
	background-color: rgb(50,50,50);
	padding: 3% 0 5% 20%;
}

textarea {
	height: 200px;
	width: 80%;
	font-size: 1.5em;
}

#generate {
	display: inline;
	padding: .2%;
	margin-left: 50%;
}

#subjects {
	position: relative;
	bottom: 25px;
}

#inject {
	width: 80%;
	margin: 0 10% 0 20%;
	padding: 5% 0 0 0;
}

.injectClass {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px dotted black;
}

.injectClass .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.injectClass:hover .tooltiptext {
    visibility: visible;
}
